@model DoctorProject.Models.PatientModel

@{
    ViewBag.Title = "getPatients";
}

<h2>Get Patient Names</h2>
<form action="GetPatientDetials" method="post">
    <label for="id">Enter Doctor Id:</label>
    <input type="number" id="id" name="id" required />
    <br />
    <br />
    <br />
    <input type="submit" value="SEARCH" class="btn btn-default" />
</form>
<body style="background-color:aquamarine; font-family: Verdana, Arial;">
    <form action="" method="post"></form>
</body>

