
@{
    ViewBag.Title = "ShowDoctor";
}

<h2>ShowDoctorName</h2>

<form action="GetDoctorName" method="post">
    <label for="name">Enter Patient Name:</label>
    <input type="text" id="name" name="name" required />
    <br />
    <br />
    <br />
    <input type="submit" value="SEARCH" class="btn btn-default" />
</form>
<body style="background-color:aquamarine; font-family: Verdana, Arial;">
    <form action="" method="post"></form>
</body>
