<html>
<head>

    <style>
        div {
            background-image: url('college.jpg');
        }
    </style>
</head>
<body>
    
    <br />
    <h2>CollegeManagementSytem</h2>
    @Html.ActionLink("AdminLogin", "LoginAdmin", "Admin")
    <br />
    <br />
    @Html.ActionLink("studentLogin", "StudentLogin", "Student")

</body>
<body style="background-color:beige; font-family: Verdana, Arial;">
    <form action="" method="post"></form>

</body>
</html>
