<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="connection123" connectionString="data source=.; database=Mobile; integrated security=SSPI"/>
  </connectionStrings>
</configuration>