@model PresentationLayer.Models.CollegeModel

@{
    ViewBag.Title = "AddCollege";
}

<h2>AddCollege</h2>
<head>
<style>
    body {
        background-image: url("Views/college.jpg");
        background-color: #cccccc;
    }
</style>
</head>

<form name="myform" action="AddCollege" method="post" onsubmit="return validateform(this.form)">
    <label for="collegeName">College Name</label>
    <input type="text" id="collegeName" name="CollegeName" /><br /><br />

    <label for="location">location</label>
    <input type="text" id="location" name="Location" /><br /><br />

    <label for="cutoff">Cut off percentage </label>
    <input type="number" id="cutoff" name="CutOff" /><br /><br />

    <label for="seats">No of seats available</label>
    <input type="number" id="seats" name="NoOfAvailableSeats" /><br /><br />

    <input type="submit" value="insert" /><br />
    <span id="error1" class=" text-danger"></span>
    <span id="error2"></span>
    <span id="error3"></span>
    <span id="error4"></span>
</form>
<script>
    function validateform(form) {
        var CollegeName = document.getElementById("collegeName").value;
        var Location = document.getElementById("location").value;
        var CutOff = document.getElementById("cutoff").value;
        var NoOfAvailableSeats = document.getElementById("seats").value;
        var numbers = /^[0-9]+$/;

        if (CollegeName == "null" || CollegeName == "") {
            document.getElementById("error1").innerHTML = "invalid collegename";
            return false
        }

        if (Location == "null" || Location == "") {
            document.getElementById("error2").innerHTML = "invalid Location";
            return false
        } if (CutOff == "null" || CutOff == "") {
            document.getElementById("error3").innerHTML = "invalid percentage";
            return false
        } if (NoOfAvailableSeats == "null" || NoOfAvailableSeats == "") {
            document.getElementById("error4").innerHTML = "invalid seat numbers";
            return false
        }
        if (NoOfAvailableSeats.value.match(numbers)) {
            return true;
        }
        else {
            document.getElementById("error4").innerHTML = "Please enter numbers only";
            return false;
        }

        return true;
    }
</script>
@*<script>
        function validate() {
            var name = document.f1.name.value;
            var location = document.f1.location.value;
            var cutoff = document.f1.cutoff.value;
            var seats = document.f1.seats.value;
            var status = false;

            if (name.length < 1) {
                document.getElementById("a").innerHTML ="Please enter your name";
                status = false;
            } else {
                status = true;
            }
            if (location.length < 1) {
                document.getElementById("b").innerHTML = "Please enter your location";
                status = false;
            } else {
                status = true;
            }
            if (cutoff.length < 1) {
                document.getElementById("c").innerHTML ="Please cut off percentage";
                status = false;
            } else
                status = true;
            }
            if (seats.length < 1) {
                document.getElementById("d").innerHTML ="Please enter available seats";
                status = false;
            }

            return status;
        }
    </script>

    <form name="f1" action="AddCollege" onsubmit="return validate()">
        <table>
            <tr>
                <td>Enter college:</td>
                <td>
                    <input type="text" name="name" />
                    <span id="a"></span>
                </td>
            </tr>

            <tr>
                <td>Enter Location:</td>
                <td>
                    <input type="text" name="location" />
                    <span id="b"></span>
                </td>
            </tr>

            <tr>
                <td>Enter Cut Off :</td>
                <td>
                    <input type="number" name="cutoff" />
                    <span id="c"></span>
                </td>
            </tr>
            <tr>
                <td>Enter available seats:</td>
                <td>
                    <input type="number" name="seats" />
                    <span id="d"></span>
                </td>
            </tr>
            <tr><td colspan="8"><input type="submit" value="insert"/></td></tr>
        </table>
    </form>*@