
@{
    ViewBag.Title = "ViewStudents";
}       
    <h2>college id</h2>
    <form action = "/admin/viewstudentforcollege" method= "post" >
        <label for="collegeid">college id:</label>
        <input type = "text" id= "id" name= "id" style= "background:inherit"/>
       <input type= "submit"value= "go" style= "color:white;background:green" />

    </form >
    <p align ="center"></p>