
@{
    ViewBag.Title = "BillSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<html>
<body>
    <h3>You have Successfully Updated the Bill</h3>
</body>
</html>
<body style="background-color:lightgray; font-family: Verdana, Arial;">
    <form action="" method="post"></form>
</body>