@{
    ViewBag.Title = "Home Page";
}
<h2>@Html.ActionLink("Add Disease", "AddDisease", "Disease")</h2>
<h2>@Html.ActionLink("Add Disease with symptoms", "AddDiseaseWithSymptom", "Disease")</h2>
<h2>@Html.ActionLink("Check Patient", "DisplayDiagnose", "Diagnose")</h2>
<style>
    body{background:url(../../Content/college.jpg);background:no-repeat}
</style>
<body style="background-color:powderblue; font-family: Verdana, Arial;">
    <form action="" method="post"></form>
</body>