@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
   text{
    color:white
    }
   img {
         -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }
   Background{
       width:100%;
       height:100%;
       color:white;
       background-color:black;
   }
        </style>
</head>
<body id="123">
    <button style="margin-left:60%;background:white;color:white" onclick="function1()">Black Theme</button>
    <button style="margin-left:60%;background:black;color:white" onclick="function2()">White Theme</button><br/><br/>
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarouse1" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/college.jpg" style="width:100%;">
                </div>
                <div class="item">
                    <img src="~/Content/library.jpg" style="width:100%;">
                </div>
                <div class="item">
                    <img src="~/Content/Mumbai-Taj-Hotel-Pictures-Wallpaper-1920x1080.jpg" style="width:100%;">
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

<h2><a id="1" href="../Operator/AddOperator" >addOperator</a></h2>
<h2><a id="2" href="../Operator/mobileOperators" >Display Operators</a></h2>
<h2><a id="3" href="../Customer/AddCustomer" >addOperator</a></h2>
<h2><a id="4" href="../Operator/displaymobileoperatorss" >addOperator</a></h2>
<h2><a id="5" href="../Customer/ExportToExcel" >addOperator</a></h2>

    <script>
        function function1() {
            document.getElementById("123").style.backgroundColor = "black";
            document.getElementById("1").style.color = "white";
            document.getElementById("2").style.color = "white";
            document.getElementById("3").style.color = "white";
            document.getElementById("4").style.color = "white";
            document.getElementById("5").style.color = "white";

        }
        function function2() {
            document.getElementById("123").style.backgroundColor = "white";
            document.getElementById("1").style.color = "black";
            document.getElementById("2").style.color = "black";
            document.getElementById("3").style.color = "black";
            document.getElementById("4").style.color = "black";
            document.getElementById("5").style.color = "black";

        }
    </script>
    </body>
</html>