@model PresentationLayer.Models.StudentModel

@{
    ViewBag.Title = "AddStudent";

}
<h2>AddStudent</h2>
<form name="myform" action="AddStudent" method="post" onsubmit="return validateform(this.form)">
    <label for="studentName">Student Name</label>
    <input type="text" id="studentName" name="StudentName" /><br /><br />
    <label for="obtainedPercentage">Obtained Percentage</label>
    <input type="number" id="obtainedPercentage" name="ObtainedPercentage" /><br /><br />
    <label for="collegeId"> CollegeId </label>
    <input type="number" id="collegeId" name="CollegeId" /><br /><br />
    <input type="submit" value="insert" /><br /><br />
    <span id="error" style="color:red;font-weight:bold"></span>
</form>
<script>
    function validateform(form) {
        //  var patientname = document.getElementById("pname").value;
        var name = document.getElementById("studentName").value;
        var percentage = document.getElementById("obtainedPercentage").value;
        var id = document.getElementById("collegeId").value;

        if (name == "null" || name == "") {
            document.getElementById("error").innerHTML = "invalid student name"
            //document.getElementById("showerror1").innerHTML = "Please enter patient name";

            return false
        } if (percentage == "null" || percentage == "") {
            document.getElementById("error").innerHTML = "invalid percentage";
            return false
        } if (id == "null" || id == "") {
            document.getElementById("error").innerHTML = "invalid collegeid";
            return false
        }
        return true;
    }

</script>

@Html.ActionLink("colleges List", "Display", "College")





