@model PresentationLayer.Models.StudentModel

@{
    ViewBag.Title = "delete";
}

<h2>delete</h2>
<form action="deletes" >

    <label for="id">Enter student id:</label>
    <input type="number" name="id" id="id" required />
    <br />
    <br />
    <br />
    <input type="submit" value="delete" class="btn btn-default" />
</form>
<body style="background-color:aquamarine; font-family: Verdana, Arial;">
    @*<form action="" method="post"></form>*@
</body>







