@model IEnumerable<PresentationLayer.Models.GuestModel>

@{
    ViewBag.Title = "Displayleast5BillGuests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> least 5 Bills details</h2>

<table class="table">
    <tr>
        <th>GuestId</th>
        <th>GuestName</th>
        <th>Bill</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.GuestId</td>
            <td>@item.GuestName</td>
            <td>@item.BillAmount</td>

        </tr>
    }
</table>
<html>
<body style="background-color:lightgray; font-family: Verdana, Arial;">
    <form action="" method="post"></form>
</body>
</html>



