@model MVCJuice.Models.JuiceOrder

@{
    ViewBag.Title = "order";

}

<form action="orderDetails" method="post">


    <label for=" juiceId">Juice Id </label><br />
    <input type="text" name=" juiceId" value="" /><br />
    <label for=" juiceQuantity">juice Quantity</label><br />
    <input type="text" name="juiceQuantity" value="" /><br />
    <input type="submit" value="Submit" />
    </form>