@model CollegeManagementEntities.College
    @{ 
        ViewBag.Title = "AddCollege";
    }


<body>

    <h2>College</h2>

    <form name="myform" method="post" onsubmit="return validateform(this.form)" action="AddCollege">
        <label for="cid">College Id:</label><br>
        <input type="number" id="cid" name="CollegeId"><br>
        <label for="cname">name:</label><br>
        <input type="text" id="cname" name="CollegeName"><br><br>
        <label for="locataion">Location:</label><br>
        <input type="text" id="location" name="Location"><br><br>
        <label for="cper">CutOffpercentage:</label><br>
        <input type="number" id="cper" name="CutOffpercentage"><br><br>
        <label for="seats">Number Of Seats Available:</label><br>
        <input type="number" id="seats" name="NumberOfSeatsAvailable"><br><br>
        <input type="submit" value="Add College">


        <span id="showerror" style="color:orangered;font-weight:bold"></span>

    </form>
    </body>
    <body style="background-color:beige; font-family: Verdana, Arial;">
        <form action="" method="post"></form>
        

    </body>

    <script>
        function validateform(form)
        {
            var Id = document.getElementById("cid").value;
            var name = document.getElementById("cname").value;
            var Location = document.getElementById("location").value;
            var CutOffPercentage = document.getElementById("cper").value;
            var NumberOfSeatsAvailable = document.getElementById("seats").value;

            if (Id == null || Id == "") {
                document.getElementById("showerror").innerHTML = " Check ID ";
                return false;
            } if (name == null || name == "") {
                document.getElementById("showerror").innerHTML = "Check name";
                return false;
            } if (Location == null || Location == "") {
                document.getElementById("showerror").innerHTML = "Check Location";
                return false;
            } if (CutOffPercentage == null || CutOffPercentage == "") {
                document.getElementById("showerror").innerHTML = "Check percentage";
                return false;
            } if (NumberOfSeatsAvailable == null || NumberOfSeatsAvailable == "") {
                document.getElementById("showerror").innerHTML = "Check number of seats available";
                return false;
            }
            return true;
        }
    </script>

