@{
    ViewBag.Title = "Homepage";
}
<h2>Homepage</h2>
<p>1.<a href="@Url.Action("AddCollege","Admin")">Add New College</a></p>
<p>2.<a href="@Url.Action("DisplayStudents","Admin")">Display student details</a></p>
<p>3.<a href="@Url.Action("DisplayStudents","Admin")">Select College id to display</a></p>
<p>4.<a href="@Url.Action("LoginAdmin","Admin")">Back to Login</a></p>
<html>

<body style="background-color:beige; font-family: Verdana, Arial;">
    <form action="" method="post"></form>

</body>
</html>


