@{
    ViewBag.Title = "Success";
};
<html>
<h1>You have Successfully added the college </h1>

<body style="background-color:beige; font-family: Verdana, Arial;">
    <form action="" method="post"></form>

</body>
</html>