@{ 
    ViewBag.Title = "CollegeNotFount";
}
<h2>Sorry , Admission is not possible </h2>
<html>

<body style="background-color:beige; font-family: Verdana, Arial;">
    <form action="" method="post"></form>

</body>
</html>
