
@{
    ViewBag.Title = "home";
}

</br>
</br>

<p><a href="@Url.Action("HomePage","Student")"> Select college </a></p>
<p><a href="@Url.Action("StudentLogin","Student")">Back to Login</a></p>
<html>

<body style="background-color:beige; font-family: Verdana, Arial;">
    <form action="" method="post"></form>

</body>
</html>

