@{ 
    ViewBag.Title = "InsertStudent";
}
<h2>
   Admission Granted 
</h2>
<br/>
<br/>
<a href="@Url.Action("Homepage","Student")">Back to homepage</a>

<html>

<body style="background-color:beige; font-family: Verdana, Arial;">
    <form action="" method="post"></form>

</body>
</html>