@model jsassignment.Models.demomodel

@{
    ViewBag.Title = "AddDemo";
}

<script>
    function ValidateForm(form) {
        var name1 = document.getElementById("ftname").value;
        var name2 = document.getElementById("ltname").value;
        var email = document.getElementById("mail").value;
        var pno = document.getElementById("phon").value;
        var pass = document.getElementById("pwd").value;
        var pass2 = document.getElementById("pwd2").value;
        var regex = /^[a-zA-Z\s]+$/;
        var regexmail = /^\S+\S+\.\S+$/;
        var regexphone = /^\d+$/;        	
        var strongRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!#\$%\^&\*])(?=.{8,})/;
    
        if (name1 == null || name1 == "") {
            document.getElementById("1").innerHTML = "Please Enter first name ";
            return false;
        }
        else if (regex.test(name1) === false) {
            document.getElementById("1").innerHTML = "Please Enter valid name ";
            return false;
        }
        if (name2 == null || name2 == "") {
            document.getElementById("2").innerHTML = "Please Enter last name ";
            return false;
        }
        else if (regex.test(name2) === false) {
            document.getElementById("2").innerHTML = "Please Enter valid name ";
            return false;
        }
        else if (email == null || email == "") {
            document.getElementById("3").innerHTML = "Please Enter email address ";
            return false;
        }
        else if (regexmail.test(email) === false) {
            document.getElementById("3").innerHTML = "Please Enter valid email address ";
            return false;
        }
        else if (pno == null || pno == "") {
            document.getElementById("4").innerHTML = "Please Enter email address ";
            return false;
        }
        else if (regexphone.test(pno) === false) {
            document.getElementById("4").innerHTML = "Please Enter only numbers ";
            return false;
        } else if (pass == null || pass == "") {
            document.getElementById("5").innerHTML = "Please Enter password ";
            return false;
        } else if (strongRegex.test(pass) === false) {
            document.getElementById("5").innerHTML = "Please Enter valid credentials ";
            return false;
        } else if (pass2 != pass) {
            document.getElementById("6").innerHTML = "Password is not matching! Please Enter Same password ";
            return false;
        }
        return true;       
    }
</script>
<form name="demo" action="AddDemo" method="post"onsubmit="return ValidateForm(this.form)" >
    <br />
    <div class="text-left">
        <label for="ftname">First Name</label>
        <input type="text"id="ftname" name="firstname" maxlength="10"><br/>
        <span id="1" style="color:red;font-weight:bold"></span>        
    </div><br />
    <div class="text-left">
        <label for="ltname">Last Name</label>
        <input type="text" id="ltname" name="lastname" maxlength="10"><br/>
        <span id="2" style="color:red;font-weight:bold"></span>            
    </div>
    <br />
    <div class="text-left">
        <label for="mail">Email ID</label>
        <input type="text" id="mail" name="email">
        <span id="3" style="color:red;font-weight:bold"></span>
    </div><br />
    <div class="text-left">
        <label for="phon">Mobile Number</label>
        <input type="text" id="phon" name="phone" maxlength="10">
        <span id="4" style="color:red;font-weight:bold"></span>      
    </div><br />
    <div class="text-left">
        <label for="pwd">Password</label>
        <input type="password" id="pwd" name="password"><br/>
        <span id="5" style="color:red;font-weight:bold"></span>   
        </div><br />
    <div class="text-left">
        <label for="pwd2">Confirm Password</label>
        <input type="password" id="pwd2" name="confirmpassword" maxlength="10"><br/>
        <span id="6" style="color:red;font-weight:bold"></span>          
    </div><br />
    <div class="text-left">
        <label>Description</label>
        <input type="text" name="description">        
    </div><br />
    <div class="text-left">
        <input type="submit" value="Submit">
    </div>
</form>
<link rel="stylesheet" href="/examples/css/form-style.css">
